<head>
</head>
<body>
  <h1>좋은 블로그다</h1>
  <h3><%= @post.title %></h3>

  <p><%= @post.description %></p>

  <a href="/posts/<%= @post.id %>/edit">수정하기</a>
  <a href="/">뒤로 가기</a>

  <a href="/posts/<%= @post.id %>/destroy">destroy</a>
</body>




